<div id="home">
  <h1>Трубы ППУ от производителя</h1>
  <p>
  	<strong>ООО "ПСФ "Строитель"</strong> - динамично развивающееся предприятие. Имеет свое собственное <strong>производство</strong> и производит широкий ассортимент продукции с теплоизоляцией из пенополиуретана, начиная от теплоизоляции стальных труб диаметром от 25мм до 1020мм и фасонных изделий в политиленовой и оцинкованной оболочке, и заканчивая нестандартными изделиями на заказ и вспомогательными материалами.</span></p>
  <p>
  	Современное строительство не обходится без прокладки инженерных коммуникаций, которые призваны создать требуемый уровень комфортности обитателям многоэтажных домов и коттеджей.</p>
  <p>
  	Мы привыкли, что в доме всегда есть холодная и горячая вода, канализация, отопление, а так же к тому, что дом наполнен множеством бытовых приборов, работающих от электричества.</p>
  <p>
  	Ради обеспечения всех этих удобств необходимо строительство инженерных систем в процессе возведения жилья. Строительство инженерных сетей - очень непростое дело, которое требует знания различных отраслей строительной науки.</p>
</div>

<div class="clear"></div>
