<div id="long-content">

	    <h1>Производство</h1>

	    
    	<div><p>
	ООО "ПСФ "Строитель" производит широкий ассортимент продукции с теплоизоляцией из пенополиуретана (ППУ) – начиная от теплоизоляции стальных труб ППУ диаметром от 25мм до 1020мм в политиленовой и оцинкованной оболочке&nbsp;и фасонных изделий, и заканчивая нестандартными изделиями на заказ и вспомогательными материалами.</p>
<p>
	При этом вся наша продукция соответствует всем необходимым требованиям регламентирующего <strong>ГОСТ 30732-2006</strong>, СНиП и других нормативных документов.</p>
<h4>
	Продукция ООО "ПСФ "Строитель"</h4>
<p>
	Основные группы продукции нашего предприятия следующие:</p>
<ul>
	<li>
		<a href="/services/1/">трубы ППУ в ПЭ и ОЦ оболочках</a></li>
	<li>
		<a href="/services/2/">фасонные изделия ППУ</a></li>
	<li>
		<a href="#">скорлупы ППУ</a></li>
	<li>
		комплекты и материалы для изоляции стыков</li>
</ul>
<p>
	&nbsp;</p>
<h4>
	Трубы и фасонные изделия ППУ</h4>
<p>
	Трубы ППУ и фасонные изделия ППУ производятся в соответствии с требованиями <span style="color:#(color);"><strong>ГОСТ 30732-2006</strong></span>. Продукция всегда присутствует на складе.</p>
<p>
	Фасонные изделия имеют следующие разновидности (в соответствии с рекомендациями <span style="color:#(color);"><strong>ГОСТ 30732-2006</strong></span>):</p>
<ul>
	<li>
		<a href="#">отводы ППУ</a></li>
	<li>
		<a href="#">неподвижные щитовые опоры</a></li>
	<li>
		<a href="#">скользящие опоры</a></li>
	<li>
		<a href="#">тройники ППУ</a></li>
	<li>
		переходы ППУ</li>
</ul>
<p>
	а также:</p>
<ul>
	<li>
		<a href="#">параллельные тройники ППУ</a></li>
	<li>
		<a href="#">тройники ППУ с шаровым краном воздушника</a></li>
	<li>
		элементы трубопровода ППУ с кабелем вывода</li>
	<li>
		концевые элементы трубопровода ППУ с кабелем вывода</li>
</ul>
<p>
	Наше предприятие гарантирует качество всей произведённой нами продукции.</p>
<h4>
	Доставка</h4>
<p>
	Продукция нашего предприятия поставляется по всему Северо-Западному округу.</p>
<p>
	Наша компания отличается следующими преимуществами в области доставки продукции:</p>
<ul>
	<li>
		Свой автотранспорт</li>
	<li>
		Доставка производится в самый сжатый срок</li>
	<li>
		Мы поможем вам сэкономить время и деньги</li>
</ul></div>

</div>
