 
	<h1>Контакты</h1>

	<div>
<div>
	<b>Юридический адрес:</b>
	<p style="margin-left: 40px;">
		<span>195220, г. Санкт-Петербург, пр. Науки, дом 19, корпус 2, лит. А, пом. 53-Н</span></p>
</div>
<div>
	<b>Фактический адрес:</b>
	<p style="margin-left: 40px;">
		<span>195220, г. Санкт-Петербург, пр. Науки, дом 19, корпус 2, лит. А, пом. 53-Н, подъезд 11, 4 этаж</span></p>
</div>
<div>
	<b>Телефоны:</b>
	<p style="margin-left: 40px;">
		Телефон: (812) 536-22-15</p>
	<p style="margin-left: 40px;">
		Телефон: (812) 536-22-17</p>
</div>
<div>
	<b>Электронная почта:</b>
	<p style="margin-left: 40px;">
		e-mail:&nbsp;<a class="orange" href="mailto:stroitel-ppu@yandex.ru"><strong>stroitel-ppu@yandex.ru</strong></a></p>
</div>
<div>
	<strong><b>График работы офиса:</b></strong>
	<p style="margin-left: 40px;">
		<span>По будням с 9:00 до 17:00</span></p>
	<p style="margin-left: 40px;">
		Обед с 12:00 до 13:00</p>
	<p style="margin-left: 40px;">
		<span>суббота,&nbsp;воскресенье - выходной</span></p>
</div>
<div>
	<script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=cS2m5vUVlcwy5RPYbQiu4SLtH4IMHI1S&width=600&height=450"></script>
</div>
	</div>    
</div> 
