<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>


	    <h1>Контакты</h1>

	    <div><div>
	<strong><b>Юридический адрес:</b></strong>
	<p style="margin-left: 40px;">
		<span>195220, г. Санкт-Петербург, пр. Науки, дом 19, корпус 2, лит. А, пом. 53-Н</span></p>
</div>
<div>
	<strong><b>Фактический адрес:</b></strong>
	<p style="margin-left: 40px;">
		<span>195220, г. Санкт-Петербург, пр. Науки, дом 19, корпус 2, лит. А, пом. 53-Н, подъезд 11, 4 этаж</span></p>
</div>
<div>
	<b>Телефоны:</b>
	<p style="margin-left: 40px;">
		Телефон: (812) 536-22-15</p>
	<p style="margin-left: 40px;">
		Телефон: (812) 536-22-17</p>
</div>
<div>
	<strong><b>Электронная почта:</b></strong>
	<p style="margin-left: 40px;">
		e-mail:&nbsp;<a class="orange" href="mailto:stroitel-ppu@yandex.ru">stroitel-ppu@yandex.ru</a></p>
</div>
<div>
	<strong><b>График работы офиса:</b></strong>
	<p style="margin-left: 40px;">
		<span>По будням с 9:00 до 17:00</span></p>
	<p style="margin-left: 40px;">
		Обед с 12:00 до 13:00</p>
	<p style="margin-left: 40px;">
		<span>суббота,&nbsp;воскресенье - выходной</span></p>
</div>


    
