<div id="long-content">

	    <h1>О компании</h1>

	    <div><p>
	<b><font color="#006AC1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ООО ПСФ «Строитель»(ИЧП «Строитель») создано&nbsp;в 1992 г</font></b><font color="#006AC1">.</font> <font color="#333333">Направление деятельности с момента создания компании является строительство и реконструкция наружных инженерных сетей водоснабжения, теплоснабжения и канализации. Также компания выполняет работы по строительству и ремонту дорог, благоустройству территории, отрывке котлованов, прокладке электрических кабелей и телефонной канализации, по нанесению тепловых изоляций жестким пенополиуретаном (ППУ) методом напыления на строения и конструкции различного назначения (жилые дома, производственные помещения, резервуары и емкости различного назначения, кровли), заливка стыков на местах монтажа трубопроводов-методом заливки жесткого пенополиуретана (ППУ).</font></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#006AC1"><b>Объектами&nbsp;ООО ПСФ «Строитель»</b></font>, связанными с прокладкой новых и реконструкцией старых инженерных сетей в разное время, являлись:</p>
<ul>
	<li>
		Строительство электроподстанции ТЭЦ-5 (ОАО «Ленэнерго»)</li>
	<li>
		Реконструкция теплосетей, перекладка канализационных сетей (СПБ Государственный политехнический университет)</li>
	<li>
		Строительство чугунно-литейного цеха (ОАО «Невский завод»)</li>
	<li>
		Пивзавод «Балтика» - автотранспортный цех</li>
	<li>
		Завод «Катарпиллар» г. Тосно-МК-53</li>
	<li>
		Научно-образовательный центр (НОЦ) института им. ИОФФЕ</li>
	<li>
		Устройство водопроводных лотков и ограждений вдоль ж/д полотна сообщеня Санкт-Петербург</li>
	<li>
		Москва - заказчик Октяборьская ж/д</li>
	<li>
		Жилые дома-заказчики: ОАО «Агротрансавто», ООО «Стродекс» (Политехнический Университет), ЗАО ССМУ «ЛенСпецСму», ЗАО ИСК «Стройимпульс», ЗАО «Виадук», ООО «Монолит», ООО «Таймс-Недвижимость»</li>
	<li>
		А так же ряд других промышленных и гражданских объектов</li>
</ul>
<p>
	&nbsp;</p>
<p>
	<font color="#006AC1"><b>&nbsp;&nbsp;&nbsp;</b></font><b>&nbsp;</b>&nbsp;<b><font color="#006AC1">ООО ПСФ «Строитель» имеет свою строительную технику&nbsp;и ремонтно-складскую базу.</font></b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#006AC1"><b>Начиная со второй половины 2000 г. ООО ПСФ «Строитель»</b></font> <font color="#333333">открывает второй вид деятельности - производство по теплоизоляции стальных труб и комплектующих (компенсаторы, отводы, опоры и т.д.) жестким пенополиуретаном (ППУ) для прокладки трубопроводов тепловых сетей, нефте<span lang="en-us"> </span>- и газопроводов с температурой теплоносителя до 150 градусов Цельсия, построенных любым из существующих способов их прокладки: бесканальным, канальным и надземным. В качестве гидрозащитного покрытия труб, изолированных жестким пенополиуретаном (ППУ), для подземной прокладки сетей применяются оболочки из полиэтилена низкого давления марок 273-79, 273-80, 273-81, ГОСТ 16338-85, а для надземной прокладки - витые оболочки из оцинкованной стали. В качестве теплоизоляционного слоя используется система&nbsp;компонентов жесткого пенополиуретана (ППУ), который получается методом заливки компонентов пенополиуретана (ППУ) в пространство между стальной трубой и гидрозащитной оболочкой на заливочной машине высокого давления.&nbsp;ООО&nbsp;«Строитель»&nbsp; за&nbsp;период&nbsp;производства&nbsp;тепловой&nbsp;изоляции,&nbsp;начиная&nbsp;со&nbsp;второй&nbsp;половины&nbsp; 2000&nbsp;года,&nbsp;использует&nbsp;системы&nbsp;компонентов&nbsp;жесткого&nbsp;пенополиуретана&nbsp;(ППУ) марки&nbsp;Изолан-345&nbsp;ТУ&nbsp;2254-229-10480596-97,&nbsp;а&nbsp;так&nbsp;же&nbsp;с&nbsp;2004&nbsp;года&nbsp;используется&nbsp; система&nbsp;компонентов&nbsp;жесткого&nbsp;пенополиуретана&nbsp;(ППУ)&nbsp;Эластопор&nbsp;Н&nbsp;2110&nbsp; ТУ&nbsp;2224-002-54409607-2003&nbsp;(допускается применение аналогичных пенополиуретановых (ППУ) систем жесткого пенополиуретана (ППУ) зарубежного производства).&nbsp;Вышеуказанные пенополиуретановые&nbsp;(ППУ) системы являются стабильным полимером, производимым в России. В процессе эксплуатации не выделяют в окружающую среду токсичные вещества. Требования к качеству труб, изолированным жестким пенополиуретаном (ППУ) и габаритные размеры соответствуют нормам, указанным в ГОСТ 30732-2001. Данная конструкция изоляции стальных труб жестким пенополиуретаном (ППУ) обеспечивает высокие физико-механические и химические показатели, такие как:</font></p>
<p>
	&nbsp;</p>
<ul>
	<li>
		Прочность</li>
	<li>
		Термостойкость</li>
	<li>
		Водо - и химостойкость</li>
	<li>
		Стойкость к коррозии, бактериям гниения и др.</li>
</ul>
<p>
	&nbsp;</p>
<p>
	<font color="#006AC1"><b>Пористо-ячеистая структура</b></font> <font color="#333333">теплоизоляционного пенополиуретанового (ППУ) слоя обеспечивает:</font></p>
<p>
	&nbsp;</p>
<ul>
	<li>
		Легкость</li>
	<li>
		Низкий коэффициент теплопроводности</li>
	<li>
		Закрытую пористость структуры и др. теплоизоляционные свойства.</li>
</ul>
<p>
	&nbsp;</p>
<p>
	<b><font color="#006AC1">Теплоизоляционные покрытия</font></b> <font color="#333333">из пенополиуретана (ППУ) обеспечивают:</font></p>
<p>
	&nbsp;</p>
<ul>
	<li>
		Низкий уровень тепловых потерь</li>
	<li>
		Надежную работу изоляционной пенополиуретановой (ППУ) моноконструкции совместно с трубопроводом в течение не менее 30 лет</li>
	<li>
		Защиту трубопроводов от наружной коррозии за счет адгезии</li>
	<li>
		Защиту слоя теплоизоляции от механических повреждений</li>
	<li>
		Низкую трудоемкость, сокращение времени монтажа трубопроводов в 2-3 раза и значительное снижение сроков их ввода в эксплуатацию</li>
	<li>
		Большой температурный диапазон применения от -100 гр. С до +150 гр. С</li>
</ul>
<p>
	&nbsp;</p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp; <font color="#333333" size="3">Е</font><font face="Times New Roman" size="3"><font color="#333333">ще одним перспективным направлением компании является</font> <font color="#333333">изготовление</font><span lang="en-us"> </span><font color="#006AC1"><b>труб-оболочек</b></font> <font color="#333333">диаметром от 110мм до 630мм,</font> <font color="#006AC1"><b>напорных труб</b></font> <font color="#333333">диаметром<span lang="en-us"> </span>от 110мм до 250мм, а так же изготовление</font> <font color="#006AC1"><b>спирально-навивных<span lang="en-us"> </span>воздуховодов</b></font> <font color="#333333">для изоляции труб пенополиуретаном (ППУ) для надземной<span lang="en-us"> </span>прокладки и изготовление спирально-навивных воздуховодов для вентиляции.</font></font></p>
<p>
	<b><font color="#006AC1">Отличительные черты нашей компании</font></b></p>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;Предоставление Заказчику полной и правдивой информации в связи с поставленной им задачей. Комплексный подход в работе. Мы не просто производим трубы, но и производим прокладку инженерных сетей. Наш производственный процесс предлагает решение всей проблемы - от первого "Здравствуйте..." и до тепла на объекте. Мы помогаем выбрать оптимальное техническое решение, выполняем все необходимые согласования. Оперативная реакция на изменения при проектировании и в ходе СМР, возникшие по инициативе Заказчика. Уже более 20 лет мы успешно занимаемся любимым делом - производством труб ППУ, проектированием, монтажом, ремонтом и сдачей инженерных сетей.</p></div>

    </div>
