// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self
//= require_tree .

body {
  background: image_url('bg-texture.png');
  margin: 0px 10%;
  
  #banner {
    padding: 25px 0px 0px 25px;
    margin: 0px;
    font: small-caps 42px/42px "Times New Roman", serif;
    color: white;
    text-align: left-bottom;
    img { float: left; }
    #language {
      float: right;
      margin-right: 10px;
      font: 16px/16px "Arial";
      color: black;
      text-align: top-right;
      a { text-decoration: none; }
    }
    #login {
      float: right;
      margin-right: 10px;
      margin-top: 10px;
      font: 15px/15px "Arial";
      color: black;
      text-align: top-right;
      a { text-decoration: none; }
    }
  }

  #columns {
    #side {
      height: 65px;
      padding: 0px;
      width: 100%;
      background: image_url('top-menu-grad.png') repeat-x;
      &:before { 
        content: " "; 
        background: image_url('top-menu-leftground.png') no-repeat;
        width: 14px;
        height: 65px;
        left: 9.3%;
        position: absolute;
      }
      &:after {
        content: " "; 
        background: image_url('top-menu-rightground.png') no-repeat;
        width: 14px;
        height: 65px;
        left: 90%;
        position: absolute;
      }
      ul {
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        li {
          color: grey;
          position: relative;
          float: left;
          height: 65px;
          line-height: 65px;
          width: 165px;
          text-align: center;
          background: image_url('top-menu-separator.png') right no-repeat;
          &:hover { background: image_url('top-menu-hover.png'); }
          a {
            display: block;
            padding: 0 20px;
            height: 65px;
            color: white;
            text-decoration: none;
            height: 65px;
          }
        }
      }
    }
  
    #main {
      padding: 1em;
      background: #ffe;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
  #footer {
    font: small-caps 16px/16px "Times New Roman", serif;
    color: #aaa;
    text-align: center;
    width: 100%;
    height: 30px;
  }
}