// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require_self
//= require_tree .



body {
  background: image_url('bg-texture.png');
  margin: 0;
  
  .clear {
    clear: both;
  }
  
  #top {
    background: image_url('top-menu-grad.png') repeat-x;
    height: 65px;
    img { 
      position: absolute;
      left: 44%;
      width: 11%;
      padding-top: 3px;
     }
    #language {
      float: right;
      margin-right: 10px;
      font: 16px/16px "Arial";
      color: black;
      text-align: top-right;
      a { text-decoration: none; }
    }
    #side {
      height: 65px;
      padding: 0px;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        background: image_url('top-menu-separator.png') left no-repeat;
        li {
          color: grey;
          position: relative;
          float: left;
          height: 65px;
          line-height: 65px;
          width: auto;
          padding: 0px 20px;
          text-align: center;
          background: image_url('top-menu-separator.png') right no-repeat;
          &:hover { background: image_url('top-menu-hover.png'); }
          a {
            display: block;
            height: 65px;
            color: white;
            text-decoration: none;
            height: 65px;
          }
        }
      }
      .left {
        float: right;
        position: absolute;
        right: 57%;
      }
      .right {
        float: left;
        position: absolute;
        left: 57%;
      }
    }
  }

  #content {
    margin: 0% 10%;
    #services {
      margin: 15px 20px;
      display: block;
      float: left;
      width: 250px;
      list-style: none;
      border: 1px solid gray;
      border-radius: 5px;
      padding-left: 0;
      background-color: #F8F8FF;
      h2 {
        text-align: center;
        font-family: 'XeniaExtendedCNormal';
        line-height: 18px;
        font-weight: normal;
        color: #592556;
        font-size: 2em;
        font-weight: bold;
      }
      li {
        padding: 7px 10px 7px 20px;
        a {
          display: block;
          width: 100%;
          font-size: 13px;
          line-height: 20px;
          color: #592556;
          &:hover { color: white;}
        }
        &:hover { background-color: #592556; }
      }
    }
    #banner {
      img {
        display: block;
        float: left;
        width: 100%;
      }
    }
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 10px;
      background: image_url('bottomwrapground.png') no-repeat;
      background-size: 100%;
    }
  }  
  
  #main {
    padding: 1em;
    background: image_url('wrapground.png') repeat-y;
    background-size: 100%;
    #bottom_banner { text-align: center; }
  }
  #footer {
    font: small-caps 16px/16px "Times New Roman", serif;
    color: white;
    text-align: center;
    margin: 0% 10%;
    #logo-small{
      float: left;
      padding-left: 20px;
      width: 120px;
    }
    #address{
      float: left;
      padding: 20px;
      width: 200px;
    }
    #contacts{
      float: left;
      padding: 20px;
      width: 360px;
    }
  }
}